[submodule "openmole"]
	path = openmole
	url = git@github.com:openmole/openmole.git
[submodule "gridscale"]
	path = gridscale
	url = git@github.com:openmole/gridscale.git
[submodule "myopenmoleplugin"]
	path = myopenmoleplugin
	url = git@github.com:openmole/myopenmoleplugin.git
[submodule "zombies"]
	path = exmodelo-model
	url = git@github.com:openmole/exmodelo-model.git
[submodule "container"]
	path = container
	url = git@github.com:openmole/container.git
[submodule "courses"]
	path = exmodelo-courses
	url = git@github.com:openmole/exmodelo-courses.git
[submodule "zombies_nl"]
	path = zombies_nl
	url = git@github.com:JusteRaimbault/zombies_nl.git
[submodule "openmole-market"]
	path = openmole-market
	url = git@github.com:openmole/openmole-market.git
[submodule "openmole-com"]
	path = openmole-com
	url = git@github.com:openmole/openmole-com.git
[submodule "dbsource-plugin"]
	path = dbsource-plugin
	url = git@github.com:openmole/dbsource-plugin.git
