[submodule "openmole"]
	path = openmole
	url = git@github.com:openmole/openmole.git
[submodule "gridscale"]
	path = gridscale
	url = git@github.com:openmole/gridscale.git
[submodule "myopenmoleplugin"]
	path = myopenmoleplugin
	url = https://github.com/openmole/myopenmoleplugin.git
[submodule "zombies"]
	path = zombies
	url = git@github.com:openmole/exmodelo-model.git
[submodule "container"]
	path = container
	url = ssh://git@gitlab.openmole.org:20022/openmole/container.git
[submodule "courses"]
	path = courses
	url = git@github.com:openmole/exmodelo-courses.git
[submodule "zombies_nl"]
	path = zombies_nl
	url = ssh://git@gitlab.iscpif.fr:20022/openmole/zombies.git
[submodule "openmole-market"]
	path = openmole-market
	url = git@github.com:openmole/openmole-market.git
[submodule "openmole-com"]
	path = openmole-com
	url = git@github.com:openmole/openmole-com.git
